.styled-select select {
   background: #525252;
   color: white;
   width: 268px;
   padding: 5px;
   font-size: 12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 24px;
   -webkit-appearance: none;
   }
button {
    background-color: #525252;
    color: white;
    border-style: solid;
}
button:hover {
    background-color: lightgray;
    color: gray;
	border-style: solid;
}

